<h3>Boss Data</h3>
<ul class="button-group">
	<li><a href="#" class="mainView small button secondary"><i class="foundicon-star"></i> Main</a></li>
	<li><a href="#" class="createView small button secondary"><i class="foundicon-plus"></i> Create</a></li>
    <li><a href="#" class="save small button secondary"><i class="foundicon-inbox"></i> Save</a></li>
</ul>
<table width='100%'>
<thead>
<tr>
<th width='10%'>ID</th><th width='30%'>Name</th><th width='30%'>Password</th><th width='30%'>Action</th>
</tr>
</thead>
<tbody>
<% _.each(models, function(model) { %>
<tr>
<td><%= model.boss_id %></td>
<td><%= model.boss_name %></td>
<td><%= model.boss_password %></td>
<td>
<a href='#' class='readView button small' data-id="<%= model.boss_id %>"><i class="foundicon-page"></i></a>
<a href='#' class='updateView button small' data-id="<%= model.boss_id %>"><i class="foundicon-tools"></i></a>
<a href='#' class='deleteSubmit button small' data-id="<%= model.boss_id %>"><i class="foundicon-remove"></i></a>
</td>
</tr>
<% }); %>
</tbody>
</table>