<h3>管理員編輯</h3>
<form>
<input type='hidden' name='boss_id' id='boss_id' value='<%= boss_id %>' />
	<div class='row'>
		<div class='large-1 columns'>Name</div>
		<div class='large-9 columns'><input type='text' name='boss_name' id='boss_name' value='<%= boss_name %>' /></div>
	</div>
	<div class='row'>
		<div class='large-1 columns'>Password</div>
		<div class='large-9 columns'><input type='password' name='boss_password' id='boss_password' value='<%= boss_password %>' /></div>
	</div>
	<div class='row'>
		<div class='large-1 columns'></div>
		<div class='large-9 columns'><a href='#' class='updateSubmit button radius small'>Submit</a></div>
	</div>
</form>