<h3>新增管理員</h3>
<form>
	<div class='row'>
		<div class='large-1 columns'>Name</div>
		<div class='large-9 columns'><input type='text' name='boss_name' id='boss_name' value='Joe' data-check='null' /></div>
	</div>
	<div class='row'>
		<div class='large-1 columns'>Password</div>
		<div class='large-9 columns'><input type='password' name='boss_password' id='boss_password' data-check='null' value='20' /></div>
	</div>
	<div class='row'>
		<div class='large-1 columns'></div>
		<div class='large-9 columns'><a href='#' class='createSubmit button small success radius'>Submit</a></div>
	</div>
</form>