<h3>新增頁面</h3>
<form>
	<div class='row'>
		<div class='large-1 columns'>Name</div>
		<div class='large-9 columns'><input type='text' name='item_name' id='item_name' value='Joe' /></div>
	</div>
	<div class='row'>
		<div class='large-1 columns'>Password</div>
		<div class='large-9 columns'><input type='password' name='itemType_id' id='itemType_id' value='20' /></div>
	</div>
	<div class='row'>
		<div class='large-1 columns'></div>
		<div class='large-9 columns'><a href='#' class='item_createSubmit button small success radius'>Submit</a></div>
	</div>
</form>