<h3>Update</h3>
<form>
<input type='hidden' name='id' id='id' value='<%= id %>' />
	<div class='row'>
		<div class='large-1 columns'>Nickname</div>
		<div class='large-9 columns'><input type='text' name='nickname' id='nickname' value='<%= nickname %>' /></div>
	</div>
	<div class='row'>
		<div class='large-1 columns'>Age</div>
		<div class='large-9 columns'><input type='text' name='age' id='age' value='<%= age %>' /></div>
	</div>
	<div class='row'>
		<div class='large-1 columns'></div>
		<div class='large-9 columns'><a href='#' class='updateSubmit button radius small'>Submit</a></div>
	</div>
</form>